<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbbmhv58lT1Os9RXgIZMvVg9PlEHRJmpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>471153376552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.kashif.MyProject</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-129b1</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-129b1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471153376552:ios:36a50b0ac320c6dbc2241d</string>
</dict>
</plist>